<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>Auto PO Generator</title>

</head>

<body>

<h2>Auto PO Generator</h2>


<div class="navbar">

    <div class="menu">
        <button class="menu-button">☰</button>

        <div class="menu-content">
            <a href="/">Generate PO</a>
            <a href="/history">History Manager</a>
        </div>
    </div>

    <h2>Boba Tea Inventory System</h2>

</div>



<h3>History Manager</h3>

<p>History Monthly Usage</p>

<input
    type="file"
    id="history_monthly_usage"
    accept=".xlsx,.xls">

<br><br>

<button id="usage_history_update">
update usage history
</button>

<h4>Uploaded Months</h4>

<ul id="usage_history_months">
</ul>



<p>Restaurant Inventory</p>

<input
    type="file"
    id="restaurant_inventory"
    accept=".xlsx,.xls">
<br><br>

<button id="inventory_history_update">
update inventory history
</button>


<h4>Recent Inventory Snapshots</h4>

<ul id="inventory_history_dates">
</ul>


<p>History PO</p>

<input
    type="file"
    id="History_PO"
    accept=".xlsx,.xls">

<br><br>

<p>Catalog</p>

<input
    type="file"
    id="catalog"
    accept=".xlsx,.xls">

<br><br>

<button id="catalog_update">
update catalog
</button>


<br><br>

<p id="status">
Loading...
</p>


<script src="{{ url_for('static', filename='input.js') }}"></script>


<!--
<script src="https://cdn.jsdelivr.net/pyodide/v0.27.7/full/pyodide.js"></script>

<script src="input.js"></script>
-->
</body>

</html>