<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>Auto PO Generator</title>

</head>

<body>

<h2>Auto PO Generator</h2>






<nav>
<a href="/">
Generate PO
</a>
</nav>

<nav>
<a href="/history_manager">
History Manager
</a>
</nav>

<nav>
<a href="/catalog">
Catalog
</a>
</nav>


<p>Usage</p>

<input
    type="file"
    id="usage"
    accept=".xlsx,.xls">

<br><br>

<p>Inventory in current month</p>

<input
    type="file"
    id="inventory_currentM"
    accept=".xlsx,.xls">

<br><br>


<p>Next Replenishment Date</p>

<input
    type="date"
    id="replenishment_date">

<br><br>


<div class="upload-card">
    <label>HQ Inventory</label>

    <input
        type="file"
        id="hqInventoryFile"
        accept=".xlsx,.xls"
    >

    <button
        onclick="uploadHQInventory()"
    >
        Upload HQ Inventory
    </button>

    <span id="hqInventoryStatus"></span>
</div>


<button id="generateBtn">
Generate PO
</button>

<br><br>

<button id="downloadExcelBtn" style="display:none;">
Download Excel
</button>

<br><br>

<button id="downloadJsonBtn" style="display:none;">
Download JSON
</button>

<br><br>

<p id="status">
Loading...
</p>


<script src="{{ url_for('static', filename='input.js') }}"></script>

</body>

</html>